<nav style="background-color: {{ 'SITE_COLOR' | app_config  }};">
    <div class="grid-container">
        <div id="nav-links">
            <a href="/">Home</a>
            <a href="/*/">Overboard</a>
            <a href="{{ url_for('boards.get_create') }}">Create board</a>
        </div>
        <div id="nav-account">
            {% if v %}
            <a href="{{ url_for('user_blueprint.my_info') }}">{{ v.name }}</a> 
            |
            <a href="{{ url_for('settings.settings_index') }}">settings</a> 
            |
            <form id="logout" action="{{ url_for('logout') }}" method="post">
                <input type="submit" value="logout" />
            </form>
            {% else %}
            [ <a href="{{ url_for('auth.login_get') }}">login / register</a> ]
            {% endif %}
        </div>
    </div>
</nav>