<div class="post post-reply" id="{{ post.id }}">
	<span class="wingding">
		<span class="no-mobile">
			>>
		</span>
	</span>
	<div class="reply-container">
		{% include "components/post_header.html" %}
		{% if post.attachment_url %}
			{% include "components/attachment.html" %}
		{% endif %}
		<blockquote class="post ugc">
			{{ post.body_html | markdown }}
		</blockquote>
		{% if post.banned_for %}
			<h4 class="red banned-for">(USER WAS BANNED FOR THIS POST)</h4>
		{% endif %}
		{% if mod_view %}
			<div class="mod-reply">
				<form action="{{ url_for('posts_blueprint.mod_delete_post', boardname=board.name, pid=post.id) }}" method="post">
					<input type="submit" class="btn-danger" value="delete" />
				</form>
				{% if post.reports %}
					<form action="{{ url_for('posts_blueprint.mod_close_reports', boardname=board.name, pid=post.id) }}" method="post">
						<input type="submit" class="btn-gray" value="close reports" />
					</form>
					<form action="{{ url_for('posts_blueprint.mod_approve', boardname=board.name, pid=post.id) }}" method="post">
						<input type="submit" class="btn-success" value="approve" />
					</form>
				{% elif post.approved %}
					<form action="{{ url_for('posts_blueprint.mod_unapprove', boardname=board.name, pid=post.id) }}" method="post">
						<input type="submit" class="btn-danger" value="unapprove" />
					</form>
				{% endif %}
			</div>
		{% endif %}
		{% if mod_view and post.reports %}
			<div class="report-list">
				<details>
					<summary>view reports</summary>
					<ul>
						{% for report in post.reports %}
							<li>{{ report.reason }}
						{% endfor %}
					</ul>
				</details>
			</div>
		{% endif %}
	</div>
</div>