{% extends "index.html" %}
{% block title %}users banned from /{{ board.name }}/{% endblock %}
{% block content %}
	{% include "boards/header.html" %}
	<div class="board-links">
		<a class="btn link-btn" href="{{ url_for('boards.get_board_page', name=board.name) }}">Index</a>
		<a class="btn link-btn" href="{{ url_for('boards.board_mod', name=board.name) }}">Back to mod tools</a>
	</div>
	<form class="form" action="{{ url_for('boards.ban_from_board', boardname=board.name) }}" method="post">
		<div class="form-entry">
			<label for="target">username:</label>
			<input type="text" name="target" required maxlength="25" class="form-input" placeholder="username or IP" />
		</div>
		<div class="form-entry">
			<label for="reason">reason for ban:</label>
			<input type="text" name="reason" required maxlength="255" class="form-input" placeholder="ban reason" />
		</div>
		<div class="form-entry">
			<label for="target">offending post ID:</label>
			<input type="number" name="post" required maxlength="25" class="form-input" placeholder="ID of post to ban the user for" />
		</div>
		<div class="form-entry">
			<label for="target">duration days (blank for permanent ban):</label>
			<input type="number" name="expiry" class="form-input" placeholder="days until the ban expires" />
		</div>
		<div class="form-entry">
			<input type="submit" class="btn btn-danger" value="ban user" />
		</div>
	</form>
	{% if bans %}
		<h3>bans in /{{ board.name }}/</h3>
		<table class="user-listing">
			<thead>
				<tr>
					<th>user</th>
					<th>banned by</th>
					<th>banned for</th>
					<th>expires</th>
					<th>reason</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for ban in bans %}
					<tr>
						<td>{{ ban.user.name }}</td>
						<td>{{ ban.banning_mod.name }}</td>
						<td><a target="_blank" class="post-mention" href="/*/post/{{ ban.banned_for }}">>>{{ ban.banned_for }}</a></td>
						<td {% if ban.expires_utc > 0 %}title="{{ ban.expires }}"{% endif %}>
							{% if ban.expires_utc > 0 %}
								{% if ban.duration_days > 1 %}
									in {{ ban.duration_days }} days
								{% else %}
									in a day
								{% endif %}
							{% else %}
								never
							{% endif %}
						</td>
						<td>{{ ban.ban_reason }}</td>
						<td>
							<form class="inline-form" action="{{ url_for('boards.unban_from_board', boardname=board.name) }}" method="post">
								<input type="hidden" name="id" value="{{ ban.id }}" />
								<input type="submit" value="unban" />
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}
