{% extends "index.html" %}
{% block title %}you are banned lol{% endblock %}
{% block content %}
	<h2>You are banned ;-;</h2>
	<p>You are banned from /{{ board.name }}/{% if ban %} for posting <a class="post-mention" href="/{{ board.name }}/post/{{ ban.banned_for }}">>>>/{{ board.name }}/{{ ban.banned_for }}{% endif %}</a>.{% if ban.ban_reason %} Reason: {{ ban.ban_reason }}{% endif %}

	{% if ban.expires_utc > 0 %}
		<p>Your ban will expire on {{ ban.expires }}, which is {% if ban.duration_days > 1 %}{{ ban.duration_days }} days{% else %}a day{% endif %} from now.</p>
	{% else %}
		<p>Your ban is permanent.</p>
	{% endif %}
{% endblock %}