body {
    background-color: $color-primary;
    margin: 0;
    font-family: $font-family;
    font-size: 10pt;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1.5rem;

    * {
        color: white;
    }

    #name a {
        font-weight: 700;
        font-size: 1.05rem;
    }
}

#content {
    padding-left: 1rem;
    padding-right: 1rem;
}

.settings-wrapper {
    margin-top: 7rem;
    text-align: center;
}

.form-wrapper {
    display: inline-block;
    padding: 2rem 5rem;
    background: $color-secondary;
    border-radius: 0.25rem;

    .form-fieldset {
        padding: 1rem;

        legend {
            font-weight: bold;
            font-size: 1.5rem;
        }
    }
}

#logout {
    display: inline-block;

    input[type="submit"] {
        padding: 0;
        margin: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-family: inherit;
    }

    input[type="submit"]:hover {
        text-decoration: underline;
    }
}

.form-submit {
    float: right;
}

.error {
    color: crimson;
}
